* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

nav {
    height: 70px;
    display: flex;
    padding: 20px 36px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.nav--logo {
    max-width: 100px;
}

section {
    padding: 20px;
}

.hero {
    display: flex;
    flex-direction: column;
}

.hero--photo {
    max-width: 400px;
    align-self: center;
}

.hero--header {
    margin-bottom: 16px;
}

.hero--text {
    margin-top: 0;
}

.row {
    display: flex;
    align-items: center;
    gap: 2px;
}

p {
    margin: 0;
    font-size: 12px;
    line-height: 110%;
}

.bold {
    font-weight: bold;
}

.gray {
    color: #918E9B;
}

.card {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 176px;
    position: relative;
}

.card--photo {
    border-radius: 9px;
}

.card--star {
    width: 14px;
}

.card--tag {
    position: absolute;
    width: 61px;
    height: 20px;
    left: 6px;
    top: 6px;
    background-color: #FFFFFF;
    font-size: 10.24px;
    line-height: 110%;
    color: #222222;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}